$color-white: #ffffff;
$color-black: #19191b;
$color-light-black: #1d293f;
$color-blue: #5454d4;
$color-light-blue: rgb(200, 220, 240);
$color-orange: #ff7143;
$color-dark-orange: #9f3919;
$color-grey: #696871;
$color-light-grey: #f8f8f8;
