@import "_variables";

.header {
  padding: 1.25rem 2.5rem;
  background-color: $color-white;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
}

.get-started {
  &__link {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 3.1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $color-orange;
    color: $color-white;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $color-light-blue;
    }
  }

  &__list {
    @extend .main-menu__list;
  }

  &__item {
    margin-right: 2.5rem;
  }
}

.main-menu {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: bold;
  }

  &__item {
    margin-right: 2.5rem;
  }

  &__link {
    font-family: "DM Sans", sans-serif;

    &--home {
      color: $color-black;
      text-decoration: underline;
      text-decoration-color: $color-blue;
      text-underline-offset: 0.625rem;
    }

    &--features,
    &--pricing,
    &--blog {
      color: $color-grey;
      text-decoration: none;
    }
  }
}

.grow-your-business {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.5rem 2.5rem;
  max-width: 75rem;
  margin: 0 auto;

  &__title {
    font-size: 3.75rem;
    color: $color-black;
    font-family: "DM Sans", sans-serif;
  }

  &__description {
    padding-bottom: 1.875rem;
    line-height: 1.5;
    color: $color-grey;
    font-family: "Muli", sans-serif;
    text-align: left;
  }

  &__cta-button {
    padding: 1rem 3.125rem;
    background-color: $color-blue;
    color: $color-white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-light-blue;
    }
  }

  &__cta-arrow {
    width: 3rem;
    margin-left: 1.8rem;
    margin-bottom: -1.25rem;
    align-self: center;
  }
}

.right-content {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__stand-image,
  &__skateboarding-image,
  &__bubble-image {
    position: absolute;
    height: auto;
    width: auto;
  }

  &__stand-image {
    z-index: 0;
  }

  &__skateboarding-image {
    z-index: 1;
  }

  &__bubble-image {
    z-index: 2;
    top: 6.25rem;
    right: 20px;
  }
}

.logo-section {
  display: flex;
  padding: 2.5rem;
  max-width: 75rem;
  margin: 0 auto;

  .logo-images {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
}

.subscription-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  max-width: 75rem;
  margin: 0 auto 2.5rem;

  .subscription-title {
    margin-right: 11.25rem;
    font-size: 3.125rem;
    color: $color-black;
    font-family: "DM Sans", sans-serif;
  }

  .subscription-description {
    line-height: 1.5;
    color: $color-grey;
    font-family: "Muli", sans-serif;
  }

  .learn-more-link {
    font-size: 1rem;
    color: $color-blue;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    font-weight: bold;
  }
}

.in-depth-metric {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  max-width: 75rem;
  margin: 0 auto;

  &__right {
    width: 40vw;
  }

  &__title {
    font-size: 2.5rem;
    color: $color-black;
    font-family: "DM Sans", sans-serif;
  }

  &__description {
    line-height: 1.5;
    color: $color-grey;
    font-family: "Muli", sans-serif;
  }
}

.brand-section {
  display: flex;
  align-items: center;
  padding: 3.75rem;
  max-width: 62.5rem;
  margin: 0 auto;

  .brand {
    text-align: center;

    img {
      width: 10rem;
    }

    &__name {
      margin-top: 1.25rem;
      font-size: 1.25rem;
      font-family: "DM Sans", sans-serif;
    }

    &__description {
      color: $color-grey;
      font-family: "Muli", sans-serif;
      margin-top: 0.625rem;
      padding-bottom: 1.25rem;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}

.pricing {
  max-width: 70vw;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__title-group {
    text-align: left;
  }

  &__title {
    font-size: 3rem;
    font-family: "DM Sans", sans-serif;
    color: $color-dark-orange;
    font-weight: bold;
    margin: 0 0 0.5rem;
  }

  &__options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.toggle-container {
  display: inline-flex;

  &__yearly,
  &__monthly {
    border: none;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 3.125rem;

    &:hover {
      background-color: $color-light-blue;
    }
  }

  &__yearly {
    padding-right: 3.125rem;
    background-color: $color-blue;
    color: $color-white;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &__monthly {
    padding-left: 2.75rem;
    color: $color-black;
    background-color: $color-light-grey;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

.option {
  background-color: $color-light-grey;
  border-radius: 0.5rem;
  margin-bottom: 3.75rem;
  flex: 1;
  padding: 6rem 2rem;
  max-width: calc(33.333% - 2rem);

  &--highlighted {
    background-color: $color-orange;

    .option__detail,
    .option__cta {
      color: $color-white;
      font-family: "DM Sans", sans-serif;
    }
  }

  &__title,
  &__price,
  &__detail {
    font-family: "DM Sans", sans-serif;
    margin-bottom: 1.25rem;
    color: $color-grey;
  }

  &__price {
    font-size: 2.5rem;
    color: $color-light-black;
    font-weight: bold;
  }

  &__cta {
    padding: 1rem 6rem;
    border: none;
    cursor: pointer;
    background-color: $color-white;
    color: $color-blue;
    border-radius: 0.5rem;
    font-weight: bold;

    &:hover {
      background-color: $color-light-blue;
    }
  }

  &--highlighted {
    .option__cta {
      background-color: $color-dark-orange;
    }
  }
}

@media (min-width: 1920px) {
  .logo-nav {
    max-width: 65vw;
  }

  .option {
    padding: 5rem 1rem;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 3rem;
  }

  .logo-nav {
    max-width: 100%;

    &__logo {
      width: 6.25rem;
    }
  }

  .main-menu,
  .get-started {
    &__item {
      margin-right: 0.5rem;
    }

    &__link {
      font-size: 0.8rem;
    }
  }

  .get-started {
    &__link {
      padding: 0.5rem 1.5rem;
    }
  }

  .grow-your-business {
    padding: 2rem 2rem;
    display: flex;

    &__title,
    &__description {
      padding: 0 1rem;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__description {
      font-size: 0.8rem;
    }

    &__cta-button {
      font-size: 0.5rem;
      padding: 0.5rem 2rem;
      margin-left: 1rem;
    }

    &__cta-arrow {
      width: 2rem;
      margin-left: 1rem;
    }
  }

  .right-content {
    width: 100vw;

    &__stand-image,
    &__skateboarding-image,
    &__bubble-image {
      max-width: 30vw;
    }
  }

  .logo-section {
    padding: 1.5rem;

    .logo-images {
      width: 90vw;
      display: flex;
      justify-content: space-around;
      gap: 1rem;

      img {
        max-width: 10vw;
      }
    }
  }

  .subscription-section {
    padding: 1.5rem;

    img {
      max-width: 30vw;
      margin-right: 1rem;
    }

    .subscription-title,
    .subscription-description,
    .learn-more-link {
      font-size: 1rem;
      max-width: 50vw;
    }
  }

  .in-depth-metric {
    padding: 2.5rem;

    &__right {
      width: 50%;

      img {
        max-width: 30vw;
        margin-left: 50px;
      }
    }

    &__title {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  .brand {
    img {
      width: 4rem;
    }

    &__description {
      margin-top: 0.5rem;
      padding-bottom: 1rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }

  .pricing {
    max-width: 100vw;
    padding: 2rem;
    text-align: center;

    &__title {
      font-size: 2rem;
    }
  }

  .option {
    padding: 3rem 1rem;

    &__title,
    &__price,
    &__detail {
      font-size: 0.875rem;
    }

    &__cta {
      padding: 0.75rem 2rem;
      font-size: 0.875rem;
    }
  }

  .toggle-container {
    &__yearly,
    &__monthly {
      padding: 0.75rem 2rem;
      font-size: 0.5rem;
    }
  }
}

@media (max-width: 568px) {
  .header {
    padding: 1rem 3rem;
  }

  .logo-nav {
    max-width: 100%;

    &__logo {
      width: 6rem;
    }
  }

  .main-menu {
    &__link {
      &--home,
      &--features,
      &--pricing,
      &--blog {
        font-size: 0.6rem;
      }
    }
  }

  .get-started {
    &__link {
      padding: 0.4rem 0.8rem;
    }
  }

  .grow-your-business {
    padding: 2rem 2rem;

    &__title {
      font-size: 2rem;
    }

    &__cta-button {
      font-size: 0.4rem;
      padding: 0.4rem 1.5rem;
    }

    &__cta-arrow {
      margin-left: 0.5rem;
    }
  }

  .right-content {
    &__stand-image,
    &__skateboarding-image,
    &__bubble-image {
      max-width: 40vw;
    }
  }

  .logo-section {
    padding: 2.5rem;

    .logo-images {
      width: 80vw;

      img {
        max-width: 10vw;
      }
    }
  }

  .subscription-section,
  .in-depth-metric {
    padding: 2.5rem;
  }

  .in-depth-metric {
    padding: 3.5rem;
  }

  .brand {
    img {
      width: 3rem;
    }

    &__name {
      font-size: 0.5rem;
    }
  }

  .pricing {
    max-width: 100vw;
    padding: 3rem;

    &__title {
      font-size: 1.5rem;
    }
  }

  .option {
    padding: 1.5rem 0.5rem;

    &__title,
    &__price,
    &__detail {
      font-size: 0.5rem;
    }

    &__cta {
      padding: 0.5rem 1.75rem;
      font-size: 0.4rem;
    }
  }

  .toggle-container {
    &__yearly,
    &__monthly {
      padding: 0.5rem 1.5rem;
      font-size: 0.5rem;
    }
  }
}

@media (max-width: 375px) {
  .header {
    padding: 1rem;
  }

  .logo-nav {
    &__logo {
      width: 4rem;
    }
  }

  .main-menu {
    &__link {
      &--home,
      &--features,
      &--pricing,
      &--blog {
        font-size: 0.5rem;
      }
    }
  }

  .get-started {
    &__link {
      padding: 0.5rem 1rem;
      font-size: 0.4rem;
    }
  }

  .grow-your-business {
    padding: 1rem;

    &__title {
      font-size: 1.5rem;
    }

    &__cta-button {
      font-size: 0.5rem;
      padding: 0.5rem 1rem;
    }

    &__cta-arrow {
      margin-left: 0.5rem;
    }
  }

  .brand {
    img {
      width: 2rem;
    }

    &__name,
    &__description {
      font-size: 0.5rem;
    }
  }

  .pricing {
    padding: 1rem;

    &__title {
      font-size: 1rem;
    }
  }

  .option {
    padding: 0.75rem 0.5rem;

    &__title,
    &__price,
    &__detail {
      font-size: 0.4rem;
    }

    &__cta {
      padding: 0.3rem 0.5rem;
      font-size: 0.4rem;
    }
  }

  .toggle-container {
    &__yearly,
    &__monthly {
      padding: 0.1rem 0.5rem;
      font-size: 0.4rem;
    }
  }
}
